<html>

<head>
  <!-- Load TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
  <!-- Load BodyPix -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
  <!-- Load numjs-->
  <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
  <script>const clog = console.log;</script>
</head>

<body>
  <video id="vid" autoplay='true'></video>
  <canvas id="canvas" width="640" height="480"></canvas>
  <button id="button">take pic</button>
</body>
<script>
  const video = document.querySelector('#vid');
  video.onready = () => { console.log("bruh") }
  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
      video.srcObject = stream;
    }).catch(alert);
  }
  bodyPix.load().then(net => {
    console.log("net is ready")
    async function predict(img) {
      const config = {
        flipHorizontal: "true",
        internalResolution: "low",
        segmentationThreshold: 0.7,
        maxDetections: 5,
        scoreThreshold: 0.3,
        nmsRadius: 20
      }
      const segmentation = await net.segmentPerson(img)
      return segmentation;
    }
    const context = canvas.getContext('2d')
    document.querySelector("#button").addEventListener("click", () => {
      predict(canvas).then(segmentation => {
        let n = nj.array(segmentation.data,dtype="uint8").reshape(480,640)
        n = nj.images.resize(n,60,80)
        clog(n)
        //console.log(nj.array(canvas.toDataURL()))
        const options = {
          headers: {
            "Content-Type": "application/json"
          },
          method: "POST",
          body: JSON.stringify({ mask: segmentation.data, img: canvas.toDataURL() })
        }
        fetch("/frame", options).then(r => r.text()).then(console.log)
      });
      context.drawImage(document.getElementById("vid"), 0, 0, 640, 480)
    });
  })

</script>


</html>