<html>

<head>
  <title>Posture Monitor</title>
  <link rel="icon" href = "{{ url_for('static', filename = 'favicon.ico') }}">
  <!-- Load TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
  <!-- Load BodyPix -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
</head>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:aliceblue
  }

  #loop:hover {
    cursor: pointer
  }

  button {
    background-color:transparent;
    border-radius:0; 
    border:2px solid black;
  }
</style>

<body>
  <div style="text-align:center">
    <h1 style="margin:0; padding: 10px">Posture Monitor</h1>
    <div style="background-color:black"><video id="vid" autoplay='true'></video></div>
    <button style=" margin-top:10px; " id="loop">
      <h3>Loading...</h3>
    </button>
    <div id="rec" style="font-size:xx-large">Prediction: <span id = "prediction">Loading...</span></div>
  </div>
  <canvas id="canvas" width="640" height="480" style="display:none"></canvas>
</body>
<script>
  document.getElementById("rec").hidden = true;
  var interval;
  var looping = false;
  async function predict(net, img) {
    const config = {
      flipHorizontal: "true",
      internalResolution: "low",
      segmentationThreshold: 0.7,
      maxDetections: 5,
      scoreThreshold: 0.3,
      nmsRadius: 20
    }
    const segmentation = await net.segmentPerson(img)
    return segmentation;
  }
  function getPostureClass(net) {
    const context = canvas.getContext('2d')
    context.drawImage(document.getElementById("vid"), 0, 0, 640, 480)
    return predict(net, canvas).then(segmentation => {
      const options = {
        headers: {
          "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify({ mask: segmentation.data, img: canvas.toDataURL() })
      }
      return fetch("/frame", options).then(r => r.text())
    });
  }

  const video = document.querySelector('#vid');
  video.onready = () => { console.log("bruh") }
  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
      video.srcObject = stream;
    }).catch(alert);
  }
  bodyPix.load().then(net => {
    const loop = document.getElementById("loop");
    loop.innerHTML = "<h3>Start Monitoring</h3>";
    loop.addEventListener("click", () => {
      let audio = new Audio("{{ url_for('static', filename = 'inputaudio.mp3') }}");
      audio.play()
      looping = !looping;
      if (looping) {
        document.getElementById("loop").innerHTML = "<h3>Stop Monitoring</h3>";
        interval = setInterval(() => { getPostureClass(net).then((prediction)=>{
          document.getElementById("prediction").innerHTML=prediction;
        }) }, 1000);
        document.getElementById("rec").hidden = false;
      }
      else {
        loop.innerHTML = "<h3>Start Monitoring</h3>";
        clearInterval(interval);
        document.getElementById("rec").hidden = true;
      }
    })
  })

</script>


</html>