<html>

<head>
  <title>Posture Buddy</title>
  <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
  <!-- Load TensorFlow.js -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
  <!-- Load BodyPix -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
</head>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue
  }

  button:hover {
    cursor: pointer
  }

  button {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid black;
  }
</style>

<body>
  <div style="text-align:center">
    <h1 style="margin:0; padding: 10px"><img src="{{ url_for('static', filename = 'yoga dude icon.png') }}"
        style="height:32px; vertical-align: middle;"></img>Posture Buddy</h1>
    <div style="background-color:black"><video id="vid" autoplay='true'></video></div>
    <button style=" margin-top:10px; " id="loop">
      <h3>Loading...</h3>
    </button>
    <button style=" margin-top:10px; " id="good">
      <h3>Add good posture data</h3>
    </button>
    <button style=" margin-top:10px; " id="bad">
      <h3>Add bad posture data</h3>
    </button>

    <div id="rec" style="font-size:xx-large; margin-top:10px">Prediction: <span id="prediction">Loading...</span>
      <div>10 Frame Average: <span id="average">Loading...</span></div>
    </div>
  </div>
  <canvas id="canvas" width="640" height="480" style="display:none"></canvas>
</body>
<script>
  document.getElementById("rec").hidden = true;
  var interval;
  var looping = false;
  async function predict(net, img) {
    const config = {
      flipHorizontal: "true",
      internalResolution: "low",
      segmentationThreshold: 0.7,
      maxDetections: 1,
      scoreThreshold: 0.3,
      nmsRadius: 20
    }
    const segmentation = await net.segmentPerson(img)
    return segmentation;
  }
  function getPostureClass(net, mode) {
    const context = canvas.getContext('2d')
    context.drawImage(document.getElementById("vid"), 0, 0, 640, 480)
    return predict(net, canvas).then(segmentation => {
      const options = {
        headers: {
          "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify({ mode: mode, mask: segmentation.data, img: canvas.toDataURL() })
      }
      return fetch("/frame", options).then(r => r.text())
    });
  }
  const postureArray = [];
  var cumulativeScore = 0;
  var reminderCooldown = 0;
  const video = document.querySelector('#vid');
  video.onready = () => { console.log("bruh") }
  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
      video.srcObject = stream;
    }).catch(alert);
  }
  bodyPix.load().then(net => {
    function handlePrediction(mode) {
      document.getElementById("rec").hidden = false;
      getPostureClass(net, mode).then(prediction => {
        document.getElementById("prediction").innerHTML = prediction;
        postureArray.push(Number(prediction))
        cumulativeScore += Number(prediction)
        if (postureArray.length > 10)
          cumulativeScore -= postureArray.shift()

        cumulativePercent = cumulativeScore / 10
        document.getElementById("average").innerHTML = cumulativePercent;
        document.getElementById("average").style.backgroundColor = `hsl(${141 * (1 - cumulativePercent)},${76 + 24 * (cumulativePercent)}%, ${48 + 2 * (cumulativePercent)}%)`
        document.getElementById("prediction").style.backgroundColor = `hsl(${141 * (1 - prediction)},${76 + 24 * (prediction)}%, ${48 + 2 * (prediction)}%)`

        if (cumulativeScore > 5 && prediction>0.5) {
          reminderCooldown++;
          if (reminderCooldown > 5) {
            reminderCooldown = 0;
            console.log("playing audio")
            new Audio("{{ url_for('static', filename = 'sit up.mp3') }}").play();
          }
        }
        if (looping) {
          handlePrediction(mode);
        }
      });

    }
    const loop = document.getElementById("loop");
    loop.innerHTML = "<h3>Start Monitoring</h3>";
    loop.addEventListener("click", () => {
      looping = !looping;
      if (looping) {
        document.getElementById("loop").innerHTML = "<h3>Stop Monitoring</h3>";
        handlePrediction("predict")
      }
      else {
        loop.innerHTML = "<h3>Start Monitoring</h3>";
        document.getElementById("rec").hidden = true;
      }
    });
    document.getElementById("good").addEventListener("click", () => {
      looping = !looping;
      if (looping)
        handlePrediction("good")
    });
    document.getElementById("bad").addEventListener("click", () => {
      looping = !looping;
      if (looping) {
        handlePrediction("bad")
      }
    });
  })

</script>


</html>